/* Slide */

body {
    overflow-x: hidden; //To avoid horizontal scrollbar on animation
}

.myslide.ng-enter,
.myslide.ng-leave {
    position: absolute;
    transition: .3s linear all;
}

.myslide.ng-enter {
    left: 100%;
}

.myslide.ng-enter-active {
    transform: translateX(-100%);
}

.myslide.ng-leave-active {
    transform: translateX(-100%);
}
