// Appverse-dark
//  
// -----------------------------------------------------

@mixin btn-shadow($color){
    //@include gradient-vertical-three-colors(lighten($color, 8%), $color, 60%, darken($color, 4%));
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, lighten($color,8%) 0%, lighten($color,8%) 50%, $color 51%, $color 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($color,8%)), color-stop(50%,lighten($color,8%)), color-stop(51%,$color), color-stop(100%,$color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, lighten($color,8%) 0%,lighten($color,8%) 50%,$color 51%,$color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, lighten($color,8%) 0%,lighten($color,8%) 50%,$color 51%,$color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, lighten($color,8%) 0%,lighten($color,8%) 50%,$color 51%,$color 100%); /* IE10+ */
    background: linear-gradient(to bottom, lighten($color,8%) 0%,lighten($color,8%) 50%,$color 51%,$color 100%); /* W3C */
    filter: none;
    border-bottom: 1px solid darken($color, 10%);
}

@mixin btn-shadow-hover($color){
    //@include gradient-vertical-three-colors(lighten($color, 8%), $color, 60%, darken($color, 4%));
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, lighten($color,16%) 0%, lighten($color,16%) 50%, lighten($color,8%) 51%, lighten($color,8%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($color,16%)), color-stop(50%,lighten($color,13%)), color-stop(51%,lighten($color,8%)), color-stop(100%,lighten($color,8%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, lighten($color,16%) 0%,lighten($color,16%) 50%,lighten($color,8%) 51%,lighten($color,8%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, lighten($color,16%) 0%,lighten($color,16%) 50%,lighten($color,8%) 51%,lighten($color,8%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, lighten($color,16%) 0%,lighten($color,16%) 50%,lighten($color,8%) 51%,lighten($color,8%) 100%); /* IE10+ */
    background: linear-gradient(to bottom, lighten($color,16%) 0%,lighten($color,16%) 50%,lighten($color,8%) 51%,lighten($color,8%) 100%); /* W3C */
    filter: none;
    border-bottom: 1px solid darken($color, 5%);
}

/*ANIMATIONS*/
.rotate{
    transform:rotate(360deg);
}
.counter-rotate{
    transform: rotate(-360deg);
}
.rotateQuarter{
    transform:rotate(45deg);
}
.zoom{
    transform:scale(1.2);
}
.swingX{
    -webkit-animation: swingX .7s ease;
    animation: swingX .7s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.swingY{
    -webkit-animation: swingY .7s ease;
    animation: swingY .7s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.fancyRotate{
    -webkit-animation: fancyRotate .7s ease;
    animation: fancyRotate .7s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes swingX
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swingX
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes swingY
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swingY
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/*CUSTOM ANIMATION KEYFRAME*/
@keyframes fancyRotate{
    15%
    {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    30%
    {
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
    50%
    {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    65%
    {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    80%
    {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    100%
    {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}

// Images

img{
    max-width: 100%;
}

/*headers*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color:lighten($text-color, 8%);
}

.page-header{
    border-bottom-color:$text-color;
}

.footer{
    hr{
        border:none;
    }
}

/*helper classes*/
.text-right{
    text-align: right;
}

/*Input group*/
.input-group-addon{
    &.glyphicon{
        top:0;
    }
}

// Navbar =====================================================================

.navbar {
    @include btn-shadow($navbar-default-bg);
    filter: none;
    &-default {
        .badge {
            background-color: #fff;
            color: $navbar-default-bg;
        }
        .navbar-toggle{
            border-radius:5px;
            .icon-bar{
                background-color:$text-color;
            }
            &[aria-expanded="true"]{
                border-color: $brand-primary;
                .icon-bar{
                    background-color:$brand-primary;
                }
            }
        }
    }
    .navbar-header{
        .user-panel{
            display:none;
        }
    }
    .navbar-collapse{
        float:left;
        .searchbar{
            display:none;
        }
    }
    .navbar-brand{
        min-width: 120px;
        background-image:url('images/logo_inverse.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: transparent !important;
        margin: 0 20px !important;
        &:hover,&:focus{
            color: transparent !important;
        }
    }
    .user-panel{
        .user-menu{
            >a{
                .user-picture{
                    width:25px;
                    display:inline-block;
                    img{
                        border-radius:50%;
                    }
                }
            }
            .dropdown-toggle{
            }
        }
        .nav{
            >li{
                >a{
                    padding-left:8px;
                    padding-right:8px;
                }
            }
        }
        .dropdown{
            .dropdown-menu{
                left:initial;
                right:0;
            }
            &.help{
                .caret{
                    margin-top: -3px;
                }
            }
        }

    }


    .navbar-nav > li > a,
    &-brand {
        text-shadow: none;
        &:hover{
            color:$brand-primary !important;
        }
    }
    .navbar-nav > li{
        >a{
            max-height:60px;
            i{
                margin-right: .5em;
                transition: all .2s linear;
            }
            ng-md-icon{
                fill:$text-color;
                transition: all .2s linear;
            }
            &:hover{
                color:$brand-info !important;
                i{
                    &.glyphicon-pencil{
                        @extend .rotate;
                    }
                    &.glyphicon-home{
                        @extend .zoom;
                    }
                    &.glyphicon-th-list{
                        @extend .swingX;
                    }
                    &.glyphicon-apple{
                        @extend .swingY;
                    }
                }
                ng-md-icon{
                    fill:$brand-info;
                    &[icon="border_all"]{
                        @extend .swingX;
                    }
                    &[icon="edit"]{
                        @extend .rotate;
                    }
                    &[icon="home"]{
                        @extend .fancyRotate;
                    }
                    &[icon="extension"]{
                        @extend .rotateQuarter;
                    }
                    &[icon="insert_chart"]{
                        @extend .pulse;
                    }
                }
            }
        }
        &.active{
            a{
                color:$brand-info !important;
                border-bottom:3px solid $brand-info;
                padding-bottom:17px;
                ng-md-icon{
                    fill:$brand-info;
                }
            }
        }
    }
    .navbar-form{
        input{
            height: 30px;
        }
        margin:15px 0;
    }
    &-inverse {
        @include btn-shadow($navbar-inverse-bg);
        filter: none;
        border-bottom: 1px solid darken($navbar-inverse-bg, 10%);
        .navbar-nav> li{
            &.active{
                a{
                    color:$brand-primary !important;
                    border-bottom:3px solid $brand-primary;
                    padding-bottom:17px;
                }
            }
            >a{
                &:hover{
                    color:lighten($navbar-inverse-bg, 25%) !important;
                }
            }
        }
        .badge {
            background-color: #fff;
            color: $navbar-inverse-bg;
        }
        .navbar-brand {
            &:hover{
                color:lighten($navbar-inverse-bg, 25%);
            }
        }

        .dropdown-menu{
            background-color:#fff;
            >li{
                >a{
                    color:darken($text-color,25%);
                    &:hover{
                        background-color:$brand-primary;
                        color:#fff;
                    }
                }
                &.divider{
                    background-color:$gray-light;
                }
            }
        }
    }

}

/*Dropdown toggle*/
.dropdown-toggle{
    transition:all .1s linear;
    .caret{
        transition: all .1s linear;
    }
    &[aria-expanded="true"]{
        .caret{
            transform:rotate(180deg);
        }
    }
}
.dropdown-menu{
    transition:all .1s linear;
}

/*Input styles*/
.form-control{
    background-image: -moz-linear-gradient( 90deg, rgb(4,29,49) 0%, rgb(5,36,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(4,29,49) 0%, rgb(5,36,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(4,29,49) 0%, rgb(5,36,62) 100%);
    box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    &:hover{
        border-color:darken($brand-primary, 12%);
    }
    &:focus{
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        &:hover{
            border-color:$brand-primary;
        }
    }
    &[disabled]{
        box-shadow:none;
        &:hover{
            border-color:#dbdbdd;
        }
    }
}
select.form-control{
    cursor: pointer;
}

/*BUTTONS SECTION*/
.btn-default {
    @include btn-shadow($btn-default-bg);

    &:hover {
        color: $btn-default-color;
    }
    .caret {
        border-top-color: $text-color;
    }
}

.btn-default {
    @include btn-shadow($btn-default-bg);
    &:hover{
        @include btn-shadow-hover($btn-default-bg);
    }
}

.btn-primary {
    @include btn-shadow($btn-primary-bg);
    &:hover{
        @include btn-shadow-hover($btn-primary-bg);
    }
}

.btn-success {
    @include btn-shadow($btn-success-bg);
    &:hover{
        @include btn-shadow-hover($btn-success-bg);
    }
}

.btn-info {
    @include btn-shadow($btn-info-bg);
    &:hover{
        @include btn-shadow-hover($btn-info-bg);
    }
}

.btn-warning {
    @include btn-shadow($btn-warning-bg);
    &:hover{
        @include btn-shadow-hover($btn-warning-bg);
    }
}

.btn-danger {
    @include btn-shadow($btn-danger-bg);
    &:hover{
        @include btn-shadow-hover($btn-danger-bg);
    }
}
.btn-action{
    @include btn-shadow($btn-action-bg);
    &:hover{
        @include btn-shadow-hover($btn-action-bg);
    }
}

.buttons{
    .btn{
        margin-bottom:.5em;
    }
}
/*BUTTONS TEXT*/
.btn{
    text-transform: uppercase;
    padding-left:15px;
    padding-right:15px;
    &:focus{
        outline:none;
    }
    &.btn-lg{
        padding-left:20px;
        padding-right:20px;
    }
}
/*BUTTONS OPACITY*/
.btn.disabled{
    opacity: .5;
}
/*BTN ACTION NEW KIND OF BUTTON FOR ACTION BUTTONS LIKE SUBMIT OR SAVE*/
.btn-action{
    border:1px solid $btn-action-border;
    background-color: $btn-action-bg;
    color: $btn-action-color;
    &:hover{
        background-color: darken($btn-action-bg, 6%);
        border-color: darken($btn-action-border, 6%);
    }
}

/*OUT OF TOOLBAR DROPDOWN MENU*/
.btn-group{
    .dropdown-menu{
        background-color:$panel-bg;
        >li{
            >a{
                color:$text-color;
                &:hover{
                    background-color:$text-color;
                    color:$panel-bg;
                }
            }
            &.divider{
                background-color:$gray;
            }
        }
    }
    .dropdown-toggle{
        .caret{
            border-top-color: #fff;
        }
    }
}

/*BUTTON GROUP THAT WORKS AS A TOGGLE*/
.btn-group-toggle{
    .btn{
        background-color:#fff;
        color:$text-color;
        text-transform:capitalize;
        font-size:1em;
        border-collapse:collapse;
        border-color:darken($btn-default-bg, 5%);
        border-right-width:0;
        &:last-child{
            border-right-width: 1px;
        }
        &:hover{
            color:$text-color;
            background-color:darken(#fff, 5%);
        }
        &.active{
            @include btn-shadow($brand-primary);
            color:#fff;
        }
    }
}

/*ALERTS*/
.alert{
    color:#fff;
    border:none;
    a{
        color:#fff !important;
    }
    .close{
        color:#fff;
        opacity:.7;
        &:focus{
            outline:none;
        }
        &:hover{
            opacity:1;
        }
    }
}

/*FORM LABEL STYLES*/
.form-group{
    label{
        font-weight: normal;
    }
}

/*PAGINATION*/
.pagination{
    background:#fff;
    border:1px solid #d2d2d2;
    height:45px;
    >li{
        display:inline-block;
        padding:10px;
        >a{
            padding:1px 6px;
            border-radius:50%;
            height: 23px;
            width:23px;
            line-height: 20px;
            text-align: center;
        }
    }
    &.pagination-lg{
        height:52px;
        >li{
            >a{
                height:30px;
                width: 30px;
                line-height: 27px;
            }
        }
    }
    &.pagination-sm{
        height:38px;
        >li{
            >a{
                height:18px;
                width: 18px;
                line-height: 15px;
                padding:1px;
            }
        }
    }
}
/*TAB PANEL*/
.nav-tabs{
    background-color:transparent;
    border:none;
    >li{
        a{
            border:none;
            color:$text-color;
            &:hover{
                color:$text-color;
                background-color:lighten($body-bg,5%);
            }
        }
        &.active{
            a{
                border:none;
                color:$text-color;
                &:hover{
                    border:none;
                    color:$text-color;
                }
            }
        }
    }
    .dropdown-menu{
        background-color:#fff;
        >li{
            >a{
                color:$text-color;
                &:hover{
                    background-color:lighten($body-bg,5%);
                    color:#fff;
                }
            }
            &.divider{
                background-color:$gray-light;
            }
        }
    }
}
.tab-pane{
    background-color: $nav-tabs-active-link-hover-bg;
    padding:1em;
}

/*PILLS PANEL*/
.nav-pills{
    >li{
        >a{
            border-radius:5px;
        }
    }
    .open{
        .dropdown-toggle{
            background-color: $brand-primary !important;
            color:#fff;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            .caret{
                border-top-color: #fff;
            }
        }
        .dropdown-menu{
            margin-top: 0;
            margin-left:-1px;
            border-radius:5px;
            border-top-left-radius: 0;
        }
    }
}

/*LIST GROUP*/
.list-group{
    .list-group-item{
        padding:14px 15px;
        margin-bottom:5px;
        border-radius:3px !important;
    }
}

/*JUMBOTRON*/
.jumbotron{
    p{
        font-weight: 300;
    }
    &.home{
        margin:5% 12%;
        h1{
            font-size:48px;
        }
        p{
            font-size: 18px;
        }
    }
}

/*TABLE STYLES*/
.table{
    border-radius:5px;
    tr{
        th{
            text-transform: uppercase;
            color:#a6a6a6;
            font-weight: 200;
        }
        td{
            color:$text-color;
        }
        &.info{
            td{
                background-color: $brand-info !important;
                color:#fff;
            }
            &:hover{
                td{
                    background-color: lighten($brand-info,8%) !important;
                }
            }
        }
        &.danger{
            td{
                background-color: $brand-danger !important;
                color:#fff;
            }
            &:hover{
                td{
                    background-color: lighten($brand-danger, 8%) !important;
                }
            }
        }
        &.success{
            td{
                background-color: $brand-success !important;
                color:#fff;
            }
            &:hover{
                td{
                    background-color: lighten($brand-success, 8%) !important;
                }
            }
        }
        &.warning{
            td{
                background-color: $brand-warning !important;
                color:#fff;
            }
            &:hover{
                td{
                    background-color: lighten($brand-warning, 8%) !important;
                }
            }
        }
    }
}

/*NG-GRID STYLES*/
.ng-grid-header{
    padding:15px;
    background:$ng-grid-bg;
    border-radius:5px 5px 0 0;
    border:1px solid $ng-grid-border-color;
}
.ngGrid {
    border-radius: 5px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    &.gridStyle {
        border:1px solid $ng-grid-border-color;
        border-top:none;
        background-color: $ng-grid-bg;
    }
    .ngTopPanel {
        background-color: transparent;
    }
    .ngHeaderCell {
        text-transform: uppercase;
        color: $text-color;
        font-weight: 200;
        background-color: transparent;
        border-bottom: 1px solid $ng-grid-border-color;
        .ngHeaderText{
            padding:$ng-grid-cell-padding;
        }
    }
    .ngRow {
        background-color: transparent;
        .ngCell {
            color: $text-color;
            background-color: transparent;
            border-bottom: 1px solid $ng-grid-border-color;
            .ngCellText{
                padding:$ng-grid-cell-padding;
            }
            &:last-child{
                .ngCellText{
                    padding:12px 20px
                }
            }
        }
    }
    .ngVerticalBar {
        display: none;
    }
    .ngTotalSelectContainer{
        margin-right:20px;
        font-size:12px;
        margin-top:15px;
    }
    .ngSortButtonDown, .ngSortButtonUp{
        position: absolute;
        top: 50%;
        margin-top: -6px;
        margin-left: auto;
        margin-right: auto;
        border:none;
        right:initial;
        height: 0;
        width: 0;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .ngSortButtonDown:after{
        content:"\e093";
    }
    .ngSortButtonUp:after{
        content:"\e094";
    }
}
/*ADVANCED COMPONENTS*/

/*COLLAPSIBLE PANEL*/
accordion{
    .panel{
        border-color:$list-group-border;
        .panel-heading{
            padding:13px 15px;
            background-color:$panel-bg;
            border-color:$list-group-border;
            &:hover{
                cursor: pointer;
            }
            .panel-title{
                color:$text-color;
                font-weight: 500;
                font-size: 14px;
                &:before{
                    content: "+";
                    margin-right: .6em;
                    font-size:18px;
                    line-height: 14px;
                    font-weight: 600;
                }
            }
        }
        .panel-collapse{
            border-color:$list-group-border;
            .panel-body{
                padding:25px 15px;
                background-color: lighten($panel-bg,5%);
            }
            &.in{

            }

        }
    }
}

/*CAROUSEL*/
.carousel{
    h4,p{
        color:#fff;
    }
    .carousel-control{
        background:none;
        background-color:transparent;
        span{
            background-color:rgba(0,0,0,.3);
            text-shadow:none;
            border-radius:50%;
            font-size:16px;
            line-height: 30px;
        }
    }
    .carousel-indicators{
        li{
            margin-right:.5em;
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

/*DATEPICKER*/
.datepicker{
    border-radius:4px;
    border:none;
    box-shadow:0 1 3px rgba(0,0,0,.3);
    table{
        outline:none;
        display: inline-block;
        padding: .8em;

    }
    .glyphicon-chevron-left{
        &:before {
            content: "\e091";
        }
    }
    .glyphicon-chevron-right{
        &:before {
            content: "\e092";
        }
    }
    .btn{
        background:none;
        outline:none !important;
        background-color:transparent;
        color:$text-color;
        border:none;
        .text-info{
            color:$brand-primary;
        }
        &:hover{
            color:lighten($text-color, 25%);
        }
        &.active{
            box-shadow:none;
            background-color:$brand-primary;
            color:#fff;
            .text-info{
                color:#fff;
            }
        }
    }
}
.dropdown-menu{
    &.ng-valid-date, &.ng-invalid-date{
        background:none;
        background-color:$well-bg;

        li[ng-if="showButtonBar"]{
            .btn{
                @include btn-shadow($btn-default-bg);
                border:1px solid $text-color;
                &:hover{
                    @include btn-shadow-hover($btn-default-bg);
                    border:1px solid $text-color;
                }
                color:$text-color;
            }
        }
    }
}


/*PAGINATION*/
.pagination{
    background-color:$panel-bg;
    border:darken($panel-bg,5%);
    > li{
        &:first-child > a ,&:last-child > a{
            width:auto;
            border-radius:5px;
        }
    }

}

/*MODAL*/
.modal-dialog{
    .modal-content{
        .modal-header{
            border:none;
            .modal-title{
                font-weight: 500;
                font-size: 14px;
                color:$text-color;
            }
        }
        .modal-body{
            margin:0 15px;
            border-radius:4px;
            background-color:lighten($panel-bg,5%);
        }
        .modal-footer{
            border:none;
            .btn{
                min-width: 80px;
            }
        }
    }
}

/*RIPPLE EFFECT STYLRES ON CLICKABLE ELEMENTS*/
[angular-ripple] {
    position: relative;
    overflow: hidden;
}
.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    transform: scale(0);
}
.angular-ripple.animate {
    animation: ripple 0.35s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

/*MATERIAL TOGGLE BUTTON*/
.toggle-button{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    label{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 400;
        cursor: pointer;
        input[type=checkbox] {
            opacity: 0;
            width: 0;
            height: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:checked+.toggle{
                background-color: $brand-success;
                &:after{
                    background-color: #fff;
                    left: 23px;
                }
                &:before{
                    content: "YES";
                    left:20px;

                }
            }
        }
        .toggle{
            content: "";
            display: inline-block;
            width: 46px;
            height: 17px;
            background-color: $brand-danger;
            border-radius: 15px;
            margin-right: 10px;
            transition: background .3s ease;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:after{
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border-radius: 20px;
                position: relative;
                box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
                left: -5px;
                top: -4px;
                transition: left .3s ease,background .3s ease,box-shadow .1s ease;
            }
            &:before{
                content:"NO";
                color:#fff;
                position:absolute;
                font-size:10px;
                font-weight: 700;
                line-height: 17px;
                left:39px;
            }
            &:active{
                &:after{
                    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4),0 0 0 15px rgba(33,62,127,.1);
                }
            }
        }
    }
}

/*MATERIAL CHECKBOX*/
.checkbox
{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    label{
        cursor: pointer;
        padding-left: 0;

        input[type="checkbox"]{
            opacity: 0;
            position: absolute;
            margin: 0;
            z-index: -1;
            width: 0;
            height: 0;
            overflow: hidden;
            left: 0;
            pointer-events: none;
            &:checked+.checkbox-material {
                &:before{
                    -webkit-animation: rippleOn 500ms;
                    animation: rippleOn 500ms;
                }
                .check{
                    color: $brand-info;
                    border-color:$brand-info;
                    &:before{
                        color: $brand-info;
                        box-shadow: 0 0 0 10px,10px -10px 0 10px,32px 0 0 20px,0 32px 0 20px,-5px 5px 0 10px,20px -12px 0 11px;
                        -webkit-animation: checkbox-on .3s forwards;
                        animation: checkbox-on .3s forwards;
                    }
                    &:after{
                        background-color: $brand-info;
                        -webkit-animation: rippleOn 500ms forwards;
                        animation: rippleOn 500ms forwards;
                    }
                }
            }
        }
        .checkbox-material{
            vertical-align: middle;
            position: relative;
            top: 3px;
            .check{
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 2px solid;
                border-radius: 2px;
                overflow: hidden;
                z-index: 1;
                border-color:$text-color;
                color:$brand-info;
                &:before{
                    position: absolute;
                    content: "";
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    display: block;
                    margin-top: -4px;
                    margin-left: 6px;
                    width: 0;
                    height: 0;
                    box-shadow: 0 0 0 0,0 0 0 0,0 0 0 0,0 0 0 0,0 0 0 0,0 0 0 0,0 0 0 0 inset;
                    -webkit-animation: checkbox-off .3s forwards;
                    animation: checkbox-off .3s forwards;
                }
            }
            &:before{
                display: block;
                position: absolute;
                left: 0;
                content: "";
                background-color: rgba(0,0,0,.64);
                height: 20px;
                width: 20px;
                border-radius: 100%;
                z-index: 1;
                opacity: 0;
                margin: 0;
                -webkit-transform: scale3d(2.3,2.3,1);
                transform: scale3d(2.3,2.3,1);
            }
        }
    }
}

/*MATERIAL RADIO BUTTON*/
.radio{
    label{
        cursor: pointer;
        padding-left: 45px;
        position: relative;
        input[type="radio"]{
            opacity: 0;
            height: 0;
            width: 0;
            overflow: hidden;
            &:checked{
                &~.circle{
                    border-color: $brand-info;
                }
                &~.check{
                    background-color: $brand-info;;
                    -webkit-transform: scale3d(.55,.55,1);
                    transform: scale3d(.55,.55,1);
                    &:after{
                        -webkit-animation: rippleOn 500ms;
                        animation: rippleOn 500ms;
                    }
                }
            }
        }
        span{
            display: block;
            position: absolute;
            left: 10px;
            top: 2px;
            transition-duration: .2s;
            &.circle{
                border: 2px solid $text-color;
                height: 15px;
                width: 15px;
                border-radius: 100%;
            }
            &.check{
                height: 15px;
                width: 15px;
                border-radius: 100%;
                background-color: $text-color;
                -webkit-transform: scale3d(0,0,0);
                transform: scale3d(0,0,0);
                &:after{
                    display: block;
                    position: absolute;
                    content: "";
                    background-color: rgba(0,0,0,.64);
                    left: -18px;
                    top: -18px;
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    z-index: 1;
                    opacity: 0;
                    margin: 0;
                    -webkit-transform: scale3d(1.5,1.5,1);
                    transform: scale3d(1.5,1.5,1);
                }
            }
        }
    }
}

/*UI SELECT STYLES*/
.ui-select-container{
    .ui-select-choices{
        min-width: 100%;
        width: auto;
        background-color:$panel-bg;
        padding:0;
        border-color:$panel-inner-border;
        .ui-select-choices-row{
            color:$text-color;
            >a{
                color:$text-color;
            }
            &.active{
                >a{
                    background-color:$brand-primary !important;
                }
            }
            &:focus{
                >a{
                    background-color:$brand-primary !important;
                }
            }
        }
    }
    .selectize-dropdown{
        font-size:14px;
        border-top-width:1px;
        border-top-style:solid;
        .active{
            background-color:$brand-primary;
            color:#fff;
        }
    }
    &.dropdown{
        &.open{
            border-color:$brand-primary;
        }
    }
    .btn-default-focus{
        outline:none;
        box-shadow:none;
    }
    .ui-select-toggle, .selectize-input{
        @extend .form-control;
        text-transform:capitalize;
        padding:8px 12px;
        line-height:21px;
        font-size:14px;
        border:1px solid $panel-inner-border;
        &:hover{
            border-color:darken($panel-bg, 10%);
            background:none;
        }
        span{
            color:$text-color;
            display: inline-block;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 10px;
        }
        &.focus{
            border-color:$brand-primary;
            &:hover{
                @extend .form-control;
            }

        }
        &.selectize-focus{
            border-color:darken($panel-bg, 10%);
        }
    }
    .selectize-input{
        height:40px;
        .ui-select-toggle{
            height:auto;
        }
        &.focus{


        }
        &:after{
            border-color:$text-color transparent transparent transparent !important;
            transition: all .25s ease;
        }
        &.focus{
            &:after{
                transform: rotate(180deg);
            }
        }
    }

    .ui-select-match-item{
        background-color: $brand-primary;
        border:1px solid darken($btn-default-border, 10%);
        text-align:left;
        vertical-align:baseline;
        padding:1px 10px;
        .close{
            color: #fff;
            opacity: .6;
            margin-left:10px;
            line-height:1 !important;
            outline:none !important;
            &:hover{
                opacity:1;
            }
        }
    }
    &.ui-select-multiple{
        max-width: 100%;
    }
}

/*CHARTIST CHARTS*/
.tooltip{
    opacity:1;
    min-width: 5em;
    width:auto;
    padding: 1em 1.6em;
    background-color:#414141;
    color: #fff;
    font-weight: 500;
    box-shadow: 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius:3px;
    &:after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -8px;
        border: 8px solid transparent;
        border-top-color: #414141;
    }
}
/*LABELS FONT SIZE*/
.ct-label{
    font-size:.8em;
}
/*LINE CHART*/
/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: $brand-primary;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 0;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
    /* Colour of your points */
    stroke: lighten($brand-primary, 20%);
    /* Size of your points */
    stroke-width: 20px;
    /* Make your points appear as squares */
    stroke-linecap: circle;
}

/*BARCHART*/
.ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: $brand-primary;
    /* The width of your bars */
    stroke-width: 25px;
    /* Yes! Dashed bars! */
    stroke-dasharray: 0;
    /* Maybe you like round corners on your bars? */
    stroke-linecap: square;
    /*Move up half the stroke width in order to not cover the labels*/
    transform:translateY(-12px);
}

/*PIE CHART - DONUT CHART*/
.ct-chart-pie, .ct-chart-donut{
    .ct-label{
        fill:#fff;
        font-size:1em;
    }
}

/*FLOTCHARTS*/
flot{
}

/*CANVAS*/
canvas{
    max-width: 100%;
}


/*SLIDERS*/
rzslider{
    height:13px;
    span{
        &.rz-bar{
            border-radius:6px;
            background-color:$text-color;
            &.rz-selection{
                background:$brand-primary;
                border-radius:6px 0 0 6px;
            }
        }
        &.rz-bubble{
            &.rz-limit{
                font-size:14px;
                color:$text-color;
            }
            &:not(.rz-limit){
                background-color:$text-color;
                color:$brand-primary;
                font-weight: 500;
                margin-top:-30px;
                margin-left:-1px;
                min-height:36px;
                min-width:36px;
                border-radius:50%;
                line-height: 36px;
                text-align: center;
                padding: 1px 5px;
                &:after{
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    margin-left: -8px;
                    margin-top:-3px;
                    border: 8px solid transparent;
                    border-top-color: $text-color;;
                }
            }
        }
        &.rz-pointer{
            width:24px;
            height:24px;
            top:-7px;
            background-color:$text-color;
            box-shadow: -0.776px 2.898px 3px 0px rgba(0, 1, 1, 0.35),inset 1px 1.732px 1px 0px rgba(255, 255, 255, 0.2);
            transition: box-shadow .3s ease;
            &:after{
                display:none;
            }
            &:active{
                box-shadow: 0 1px 3px 1px rgba(0,0,0,.4),0 0 0 15px rgba(33,62,127,.1);
            }
        }

    }
}

/*CHARTJS LEGEND*/
#line+chart-legend{
    .line-legend{
        display:flex;
        flex-direction:column;
        li{
            display:list-item;
            text-align:left;
            span{
                border-radius:50%;
            }
            font-weight: bold;
        }
    }
}
#doughnut+chart-legend{
    ul{
        li{
            padding:5px;
            span{
                border-radius:0;
                margin:0 auto;
                position:relative;
            }
            font-weight: bold;
        }
    }
}

/*MATERIAL ICONS*/
ng-md-icon {
    fill: $text-color;
    display:inline-table;
    -webkit-transition: fill 750ms ease-in-out;
    -moz-transition: fill 750ms ease-in-out;
    -o-transition: fill 750ms ease-in-out;
    transition: fill 750ms ease-in-out;
}
ng-md-icon > svg {
    -webkit-transition: width 750ms ease-in-out, height 750ms ease-in-out;
    -moz-transition: width 750ms ease-in-out, height 750ms ease-in-out;
    -o-transition: width 750ms ease-in-out, height 750ms ease-in-out;
    transition: width 750ms ease-in-out, height 750ms ease-in-out;
}
.md-icon{
    width: 180px;
    display: inline-block;
    text-align: center;
    white-space: wrap;
    vertical-align: top;
    padding: 6px;
    color:$text-color;
    background-color: $panel-bg;
    margin: .2em;
    border-radius: 5px;
}

/*KEYFRAMES IN ORDER TO MAKE ANIMATIONS POSSIBLE*/
@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}
@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0px 0px 0 10px inset;
    }
    100% {
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0 0 0 0,
            0px 0px 0 0px inset;
    }
}
@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}


/*MEDIA QUERIES*/
@media (max-width: $grid-float-breakpoint-max) {

    .navbar {
        >.user-panel{
            display:none;
        }
        .navbar-collapse{
            float:none;
            position: absolute;
            width: 100%;
            background-color:$panel-bg;
            .searchbar{
                display:block;
                border:none;
                margin:0;
                padding:0;
                padding-top:15px;
            }
        }
        .navbar-header{
            .user-panel{
                display:block;
                margin-right:15px;
                >ul{
                    margin-bottom:0;
                    margin-top:7px;
                    >li{
                        float:left;
                    }
                }
                .dropdown-menu{
                    position:absolute;
                    background-color:$brand-primary;
                    box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
                    >li{
                        >a{
                            color:#fff;
                            &:hover{
                                color:$brand-primary;
                                background-color:#fff;
                            }
                        }
                    }
                }
            }
        }
        .dropdown-header {
            color: #fff;
        }

        .dropdown-menu {
            a {
                color: #fff;
            }
        }
        .navbar-nav > li{
            &.active{
                >a{
                    border-bottom:none;
                }
            }
        }
    }

    .jumbotron{

        &.home{
            margin:3% 7%;
            h1{
                font-size:32px;
            }
            p{
                font-size:16px;
            }
        }
    }

}

@media (max-width:480px){
    .jumbotron{
        padding:10px 20px;
        &.home{
            h1{
                font-size:26px;
            }
            p{
                font-size:14px;
            }
        }
    }
    .page-header{
        margin-top: 0;
    }
}

// Buttons ====================================================================

.btn {

    text-shadow: none;

    .caret {
        border-top-color: #fff;
    }
}

.btn-default {

    &:hover {
        color: $btn-default-color;
    }

    .caret {
        border-top-color: $text-color;
    }
}

.btn-default {
}

.btn-primary {
}

.btn-success {
}

.btn-info {
}

.btn-warning {
}

.btn-danger {
}

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.panel-primary,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {

    .panel-heading,
    .panel-title {
        color: #fff;
    }
}
