<div class="well" ng-controller="<%=name%>ModalController">
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item}}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item}}</b>
        </div>
        <div class="modal-footer">
            <button angular-ripple class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button angular-ripple class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
    <h2>Modals</h2>
    <br>
    <button class="btn btn-default" angular-ripple ng-click="openModal()">Open me!</button>
    <button class="btn btn-default" angular-ripple ng-click="openModal('lg')">Large modal</button>
    <button class="btn btn-default" angular-ripple ng-click="openModal('sm')">Small modal</button>
</div>
