<!DOCTYPE HTML>
<div class="container-fluid">
<br>
    <div class="jumbotron icons">
        <h1 id="navbar">Charts</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Line</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bar</div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" data="data" labels="labels" click="onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Radar</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="radar" class="chart chart-radar" data="radarData" labels="radarLabels" click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Pie</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="pie" class="chart chart-pie chart-xs ng-isolate-scope" data="pieData" labels="pieLabels" legend="true" click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Polar Area </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="polar-area" class="chart chart-polar-area" data="polarData" labels="polarLabels" legend="true" click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Doughnut</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="doughnut" class="chart chart-doughnut" data="doughnutData" labels="doughnutLabels" legend="true" click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Dynamic (switch interval - 10s) </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="base" class="chart-base" chart-type="dynType" data="dynData" labels="dynLabels" legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Reactive (random data - 5s)</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="tables" class="chart chart-line ng-isolate-scope" data="reactData" labels="reactLabels" colours="reactColours"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
