<!DOCTYPE HTML>
<div class="container-fluid">
<br>
    <div class="jumbotron icons">
        <h1 id="navbar">Charts</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Line</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bar</div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Radar</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="radar" class="chart chart-radar" chart-data="radarData" chart-labels="radarLabels" chart-click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Pie</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="pie" class="chart chart-pie chart-xs ng-isolate-scope" chart-data="pieData" chart-labels="pieLabels" chart-legend="true" chart-click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Polar Area </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="polar-area" class="chart chart-polar-area" chart-data="polarData" chart-labels="polarLabels" chart-legend="true" chart-click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Doughnut</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="doughnutData" chart-labels="doughnutLabels" chart-legend="true" chart-click="onClick"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Dynamic (switch interval - 10s) </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="base" class="chart-base" chart-type="dynType" chart-data="dynData" chart-labels="dynLabels" chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Reactive (random data - 5s)</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="tables" class="chart chart-line ng-isolate-scope" chart-data="reactData" chart-labels="reactLabels" chart-colours="reactColours"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bubble</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="base" class="chart-bubble" chart-data="bubData" chart-series="bubSeries"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Mixed</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="base" class="chart-bar" chart-data="data" chart-labels="labels" chart-colors="reactColours" chart-dataset-override="datasetOverride" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
