<!DOCTYPE HTML>
<div class="container" scrolly-scroll ng-controller="taskController">
    <div ng-hide="isUserConnected">
        <p>This page requires login. Please go to home page:</p>
        <a ui-sref="home" class="btn btn-primary">Go to home page</a>
    </div>
    <div ng-show="isUserConnected">
        <p class="lead">QR code</p>
            <div class="well pull-left">
                <label for="inputQR">Text to encode:</label>
                <input id="inputQR" data-ng-model="qrText" data-ng-init="qrText='http://appverse.org'">
            </div>
        <p class="pull-left">&nbsp;&nbsp;</p>
        <div class="pull-left">
            <qr correction-level="'M'" size="150" text="qrText"></qr>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
