<!DOCTYPE HTML>
<div class="container-fluid">
   <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron icons">
                <h1 id="navbar">Components</h1>
            </div>
            <h2>Collapsible Panels</h2>
            <p><b>Only one at a time</b>
            </p>
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    This content is straight in the template.
                </uib-accordion-group>
                <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    {{group.content}}
                </uib-accordion-group>
            </uib-accordion>

            <p><b>All at the same time</b>
            </p>
            <uib-accordion close-others="">
                <uib-accordion-group heading="Static Header, initially expanded" is-open="status2.isFirstOpen" is-disabled="status2.isFirstDisabled">
                    This content is straight in the template.
                </uib-accordion-group>
                <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    {{group.content}}
                </uib-accordion-group>
            </uib-accordion>
            <br>
            <br>
            <h2>Carousel</h2>
            <div class="row">
                <div class="col-md-6">
                    <uib-carousel interval="myInterval">
                        <uib-slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{$index}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </div>

            <br>
            <h2>Datepicker</h2>
            <br>
            <b>Inline</b>
            <div>
                <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="datepicker" custom-class="getDayClass(date, mode)"></uib-datepicker>
            </div>
            <br>
            <br>
            <b>With input</b>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2099-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" angular-ripple class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <br>
            <h2>Modals</h2>
            <br>
            <button class="btn btn-default" angular-ripple ng-click="openModal()">Open me!</button>
            <button class="btn btn-default" angular-ripple ng-click="openModal('lg')">Large modal</button>
            <button class="btn btn-default" angular-ripple ng-click="openModal('sm')">Small modal</button>

            <br>
            <h2>Pagination</h2>
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            <br>

            <br>
            <h2>Tooltip</h2>
            <p>This is a
                <button angular-ripple class="btn btn-primary" uib-tooltip="{{dynamicTooltip}}">{{dynamicTooltipText}}</button>
            </p>
            <br>

            <br>
            <h2>Tabs</h2>
            <uib-tabset>
                <uib-tab heading="Static title">Static content</uib-tab>
                <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                    {{tab.content}}
                </uib-tab>
            </uib-tabset>

            <br>
            <h2>UI Selects</h2>
            <h3>Bootstrap theme</h3>
            <p>Selected: {{address.selected.formatted_address}}</p>
            <ui-select ng-model="address.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 300px;">
                <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses track by $index" refresh="refreshAddresses($select.search)" refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <h3>Selectize theme</h3>
            <p>Selected: {{country.selected}}</p>
            <ui-select ng-model="country.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="country in countries | filter: $select.search">
                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                    <small ng-bind-html="country.code | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>

            <h2>Multi Selection Demos</h2>

            <h3>Array of strings</h3>
            <ui-select multiple ng-model="multipleDemo.colors" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="color in availableColors | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{multipleDemo.colors}}</p>
            <hr>
            <h3>Array of objects</h3>
            <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="disabled" style="width: 800px;">
                <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                    <small>
                        email: {{person.email}}
                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{multipleDemo.selectedPeople}}</p>

            <hr>
            <h3>Array of objects with single property binding</h3>
            <ui-select multiple ng-model="multipleDemo.selectedPeopleSimple" theme="bootstrap" ng-disabled="disabled" style="width: 800px;">
                <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                <ui-select-choices repeat="person.email as person in people | propsFilter: {name: $select.search, age: $select.search}">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                    <small>
                        email: {{person.email}}
                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{multipleDemo.selectedPeopleSimple}}</p>

            <hr>
            <h3>Array of objects (with groupBy)</h3>
            <ui-select multiple ng-model="multipleDemo.selectedPeopleWithGroupBy" theme="bootstrap" ng-disabled="disabled" style="width: 800px;">
                <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                <ui-select-choices group-by="someGroupFn" repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                    <small>
                        email: {{person.email}}
                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{multipleDemo.selectedPeopleWithGroupBy}}</p>

            <br>
            <h2>SLIDERS</h2>
            <h3>Single Slider</h3>
            <rzslider rz-slider-floor="0" rz-slider-ceil="450" rz-slider-model="20" rz-slider-always-show-bar="true"></rzslider>

            <h3>Max/Min Slider</h3>
            <rzslider rz-slider-floor="1900" rz-slider-ceil="2015" rz-slider-model="1988" rz-slider-high="2002"></rzslider>
            <hr>

        </div>
        <div class="clearfix"></div>
    </div>
